<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Username" value="admin" />
    <add key="Password" value="admin@123" />
  </packageSources>
  <packageSources>
    <add key="dotnet" value="http://52.38.91.61:8081/artifactory/AKCp5ek8EjRmdo8gkoFj72Bqrf5DFGTTLCeYuTHvoiGPyVCu933SKBtTb8E6QakJWwCVTp6J1/dotnet/1" />
  </packageSources>
   <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  
</configuration>
